header {background-color: #BBBBBB;
    padding: 20px 0;
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
position: absolute;
top: 110px;;
right:0;
}

nav li{
display:inline;    
margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration:none;

} 
.productos{
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding:50px;
    gap:3rem;
}
.productos li {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    width: 33%;
    vertical-align: top;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 20px 20px 20px 20px;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}
.producto-descripcion {
    font-size: 18px;
    
}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}